/*body {
	background: url("../images/hogwart.jpg");
	background-opacity: 0.1;
	background-repeat: no-repeat;
	background-size: 100%;
}*/


/*.characterimage,
.chosen-character {
	width: 140px;
	height: 100px;
}*/